@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth scroll-pt-6 not-sr-only;
  }

  body {
    @apply m-0 px-4 py-3 w-full h-full normal-nums break-normal antialiased text-base font-serif align-middle bg-slate-900 overflow-x-hidden;
  }

  p {
    @apply text-justify;
  }

  button {
    @apply block px-8 py-2 bg-indigo-600 text-gray-100 rounded-md;
  }

  input {
    @apply block w-full border sm:text-sm rounded-lg p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500
  }
}


@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 5px rgba(17, 10, 10, 0.51);
  }

  .font-extrabold2 {
    font-weight: 900;
  }
  .r-grad-slate {
    background: #334155;
    background: radial-gradient(at center bottom, #334155, #1E2A3B);
  }

  .div-center {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-1\.5xl {
    font-size: 1.375rem; /* 22px */
    line-height: 1.875rem;/* 30px */
  }
}